*.RData
*.RDS
*.exe
*.pdf
*.hpp
.vscode/
chap04/.Rhistory
chap04/output/fig4-2-left.png
chap04/output/fig4-2-right.png
yndk/bayes_1.html
.Rproj.user
yndk/twopl/outputs/*
.venv/
chap04/output/
chap04/run-exercise4.html
chap04/run-model4-4.html
chap04/model/model_equal_sd.stan
chap04/.ipynb_checkpoints/run-model4-4-checkpoint.ipynb
